matplotlib>=3.7.0
opencv-python>=4.1.2
psycopg2-binary>=2.9.3
pymysql>=1.0.2
python-dotenv>=0.20.0
scikit-learn
seaborn>=0.12.2
sqlalchemy>=1.4.37
sympy>=1.10.1
xgboost
gunicorn
numpy
pandas
requests
scikit-learn
flask
gunicorn